{% extends 'homepage.html' %}

{% block titulo %}
    Feed
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    <div class="tela">
        <div class="fundo-tela"></div>
        <div class="fotos">
            <div class="session">
                {% for foto in fotos %}
                    <div class="foto">
                        <img src="{{ url_for('static', filename='images/fotos_posts/' + foto.imagem) }}" alt="Foto">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}